$subheading: rgb(82, 173, 93);
$guitarBg: rgb(114, 183, 122);
$listBg: rgb(114, 183, 122);
$selectDot: rgb(74,	184,	120	);
$activeConnector: rgb(114, 183, 122);
$passiveConnector: rgb(204, 204, 204);
$navbarBg: rgb(255, 255, 255);
$borderBottomColor: rgb(31, 141, 31);
$tunerButtonBg: rgb(209, 64, 64);
$tunerButtonActiveBg: rgb(179, 57, 57);
$buttonTextColor: rgb(255, 255, 255);