$mainBLue: #2f5572;
$mainOrange: #d59541;

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: $mainBlue;
    color: white;
    padding:  .75rem 1.2rem; 
    
    &--orange {
        background-color: $mainOrange;
    }

    &--large { 
        padding: 1.1rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
}

