.tuner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.guitar-selector {
    flex-basis: 100%;
    display: flex;
    text-align: center;
    margin-top: 60px;
    &__guitar {
        max-width: 238px;
        height: 225px;
        display: block;
        flex-basis: 40%;
        margin: 0 auto 55px auto;
        box-shadow: 1px 1px 25px 1px  #bebebe,
        -1px -1px 25px 1px #bebebe;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
    }
    &__image {
        position: relative;
        max-height: 100%;
        max-width: 100%;
    }
    
    @mixin atLarge {
        flex-basis: 20%;
        display: block;
    }
}

.guitar {
    flex-basis: 25%;
    position: relative;
    height: 495px;
    width: 360px;
    margin-top: 60px;
    background: $guitarBg;
    box-shadow: 1px 1px 25px 1px  #bebebe,
    -1px -1px 25px 1px #bebebe;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    
    &__image {
        display: block;
        margin-left: -100px;
        margin-top: -55px;
    }
    
    &__image_acoustic {
        margin-left: -95px;
    }
    
    &__image_bass {
        margin-left: -90px;
        margin-top: -45px;
    }
    
    
}

.string-connectors {
    position: relative;
    &__connector {
        height: 2px;
        background:  $passiveConnector;
        position: absolute;
        -webkit-transition: all .5s;
        transition: all .5s;
        border-radius: 20px;
    }
    
    &__connector_bass {
        left: 7%;
        @mixin atExtraSmall {
            left: -15%;
        }
    }
    
    &__connector_electric {
        left: 8%;
        @mixin atExtraSmall {
            left: -15%;
        }
    }
    
    &__connector_acoustic-left {
        left: 5%;
        @mixin atExtraSmall {
            left: -15%;
        }
    }
    
    &__connector_acoustic-right {
        right: 5%;
        @mixin atExtraSmall {
            right: -15%;
        }
    }
    
    &__connector:hover {
        background: $activeConnector;
    }
    
    &__connector:hover > div {
        background: $switchActiveBG;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    &__switch {
        text-align: center;
        display: block;
        position: absolute;
        width: $switchRadius;
        height: $switchRadius;
        line-height: $switchRadius;
        border-radius: 50px;
        background: $switchPassiveBG;
        top: -16px;
        cursor: pointer;
        -webkit-transition: all 1s;
        transition: all 1s;

        color: $switchColor;
    }
    
    &__switch_left {
        left: -10px;
    }
    
    &__switch_right {
        right: -10px;
    }
    
    /* CONNECTORS FOR BASS GUITAR */
    
    &__connector_0-bass {
        top: 57%;
        width: 41px;
        
        @mixin atExtraSmall {
            width: 121px;
            
        }
    }
    
    &__connector_1-bass {
        top: 41%;
        width: 55px;
        
        @mixin atExtraSmall {
            width: 133px;
        }
    }
    &__connector_2-bass {
        top: 25%;
        width: 70px;
        
        @mixin atExtraSmall {
            width: 148px;
        }
    }
    &__connector_3-bass {
        top: 9%;
        width: 90.5\px;
        
        @mixin atExtraSmall {
            width: 169px;
        }
    }
    
    /* CONNECTORS FOR Acoustic GUITAR */
    
    &__connector_0-acoustic,
    &__connector_1-acoustic,
    &__connector_2-acoustic,
    &__connector_3-acoustic,
    &__connector_4-acoustic,
    &__connector_5-acoustic {
        width: 38px;
        
        @mixin atExtraSmall {
            width: 110px;
        }
    }
    &__connector_0-acoustic {
        top: 52%;
    }
    
    &__connector_1-acoustic {
        top: 39%;
    }
    &__connector_2-acoustic {
        top: 25%;
    }
    &__connector_3-acoustic {
        top: 25%;
    }
    &__connector_4-acoustic {
        top: 39%;
    }
    &__connector_5-acoustic {
        top: 52%;
    }
    
    /* CONNECTORS FOR ELECTRIC GUITAR */
    &__connector_0-electric {
        width: 124px;
        top: 12.7%;
        
        @mixin atExtraSmall {
            width: 204.5px;
        }
    }
    &__connector_1-electric {
        width: 110px;
        top: 21%;
        @mixin atExtraSmall {
            width: 190px;
        }
    }
    &__connector_2-electric {
        width: 99px;
        top: 29.3%;
        @mixin atExtraSmall {
            width: 178.5px;
        }
    }
    &__connector_3-electric {
        width: 85px;
        top: 37.6%;
        @mixin atExtraSmall {
            width: 165px;
        }
    }
    &__connector_4-electric {
        
        width: 71px;
        top: 45.9%;
        @mixin atExtraSmall {
            width: 150px;
        }
    }
    &__connector_5-electric {
        width: 61px;
        top: 54.2%;
        @mixin atExtraSmall {
            width: 139.5px;
        }
    }
}

.string-switches {
    position: relative;
    
    &__string {
        position: absolute;
        width: 40px;
        height: 40px;
        background: $guitarBg;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    &__string_0-electric {
        top: 42%;
        left: 7%;
    }
    &__string_1-electric {
        top: 49%;
        left: 7%;
    }
    &__string_2-electric {
        top: 56%;
        left: 7%;
    }
    &__string_3-electric {
        top: 63%;
        left: 7%;
    }
    &__string_4-electric {
        top: 70.5%;
        left: 7%;
    }
    &__string_5-electric {
        top: 78%;
        left: 7%;
    }
    
}

.tuning {
    flex-basis: 60%;
    margin-top: 60px;
    text-align: center;
    width: 220px;
    height: 330px;
    background: $listBg;
    border-radius: 18px;
    box-shadow: 1px 1px 25px 1px  #e0e0e0,
    -1px -1px 25px 1px #e6e6e6;
    @mixin atMedium {
        flex-basis: 15%;
        margin-top: 145px;
    }
    
    &__hint {
        font-weight: 300;
    }
    
}

.tunes-list {
    padding: 15px;
    height: 260px;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    
    @mixin atMedium {
        width: 216px;
    }
    
    &__item {
        position: relative;
        display: block;
        justify-content: space-between;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid $listItemBorderColor;
        
        letter-spacing: 1px;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: right;
        color: white;
        cursor: pointer;
        @mixin atSmall {
            display: flex;
        }
        @mixin atMedium {
            font-size: .8rem;
            letter-spacing: 0;
        }
    }
    
    &__item_active::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 10%;
        width: 6px;
        height: 6px;
        background: $selectDot;
        border: 2px solid #eee;
        border-radius: 50px;
        @mixin atExtraSmall {
            left: 2%;
        }
        @mixin atSmall {
            left: -3%;
        }
        @mixin atMedium {
            left: -7%;
        }
    }
    
    &__name {
        text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
    }
    
    &__name_active {
        color: $activeTuneColor;
    }   
    
    &__tune {
        text-align: center;
    }
}