.guitar-tuner {

    &__heading {
        position: relative;
        text-align: center;
        font-weight: 200;

    }
    &__heading::before {
        position: absolute;
        top: 50%;
        display: block;
        content: "";
        width: 35%;
        height: 2px;
        background: black;
    }

    &__subheading {
        text-align: center;
        color: $subheading;
        font-weight: 200;
    }
}