.guitar-tuner {

    &__heading {
        position: relative;
        text-align: center;
        font-weight: 200;

    }
    &__heading::before {
        position: absolute;
        top: 50%;
        display: block;
        content: "";
        width: 12%;
        height: 2px;
        background: black;
        @mixin atSmall {
            width: 22%;
        }
        @mixin atMedium {
            width: 32%;
        }
    }

    &__subheading {
        text-align: center;
        color: $subheading;
        font-weight: 200;
    }
}