.main-nav {
    background: $navbarBg;
}

.main-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    
    &__item {
        height: 65px;
        flex-basis: 8%;
        text-align: center;
    }
    
    &__item:first-of-type {
        margin-right: auto;
    }

    &__link {
        display: block;
        text-transform: uppercase;
        padding: 20px 10px;
        border-bottom: 1px solid transparent;
        border-radius: 2px;
        transition: all .5s;
    }
    
    &__link:hover {
        border-bottom: 1px solid $linkBorderBottomColor;
        transform: scale(1.05);
    }

    &__logo {
        width: 100%;
        height: 100%;
    }

    &__link_logo,
    &__link_logo:hover {
        margin-top: -5px;
        width: 120px;
        padding: 0;
        border-bottom: none !important;
    }

}


@keyframes sound {
    0% {
        fill: green;
    }
    30% {
        fill: rgb(33, 141, 33);
    }
    50% {
        fill: rgb(85, 163, 85);
    }
    70% {
        fill: rgb(156, 194, 156);
    }
    80% {
        fill: rgb(179, 204, 179);
    }
    90% {
        fill: rgb(202, 211, 202);
    }
    100% {
        fill: rgb(221, 221, 221	);
    }
}