.choice-box {
    display: block;
    justify-content: space-evenly;
    
    @mixin atMedium {
        display: flex;
    }
    
    &__guitar {
        text-align: center;
        flex: 1;
        margin-bottom: 30px;
        
        @mixin atMedium {
            margin-bottom: 0;
        }
    }
    
    &__image {
        height: 450px;
        width: auto;
        
        @mixin atMedium {
            height: 400px;
        }
    }
    
    &__name {
        text-transform: uppercase;
        font-weight: 700;
        margin: 20px 0;
    }
    
    &__button {
        display: block;
        width: 150px;
        margin: 0 auto;
        padding: 10px 0;
        border-radius: 8px;
        text-transform: uppercase;
        background: $tunerButtonBg;
        color: $buttonTextColor;
    }

    &__button:hover {
        background: $tunerButtonActiveBg;
    }
}