.main-nav {
    display: flex;
    justify-content: flex-end;
    background: #F0EBDF;

    &__item {
        flex-basis: 15%;
        padding: 10px 0;
        text-align: center;
        border-bottom: 2px solid transparent;
        transition: all .3s;

        &:hover {
            border-bottom: 2px solid #EA8859;
        }
    }

    &__link {
        text-transform: uppercase;
    }

   

}
