
$mainBLue: #2f5572;


.page-section {
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }
   

    &--blue {
        background-color: $mainBLue;
        color: white;
    }
}